 <%= content_for :js_libs, "modernizr parallax prettify" %>
<div class="text-center">
  <div class="container">
    <h1 class="mt-5"><%= @blog.title %></h1>
    <h2 class="h4"><%= @blog.description %></h2>
  </div>
</div>
<article class="blog-1 blog-post">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-3 text-muted">
        <aside class="small text-center mt-3">
          <em>Par <%= @blog.user.first_name %> <%= @blog.user.last_name %></em>
          <p class="m-0">Publié le <time><%= l(blog.updated_at.to_time, format: "%-d %B %Y") %></time></p>
          <hr class="nub" />
          <dl class="">
            <dt>Tags</dt>
            <dd>
              <ul class="list-unstyled">
                <% @blog.tags.each do |tag| %>
                  <li>
                    <a href="<%= tag_path(tag) %>" title="<%= tag.title %>"><%= tag.title %></a>
                  </li>
                <% end %>
              </ul>
            </dd>
          </dl>
        </aside>
      </div>
      <div class="col-12 col-md-8 ">
        <div class ="mb-5">
          <%= sanitize @blog.body %>
        </div>
        <section class="row post-footer bg-white rounded py-4">
          <div class="col-12">
            <div class="media color-grey-50">
              <%= image_tag(blog.user.avatar.url(:thumb), class: "d-flex rounded mr-3", width: '40', height: '40', alt: 'profile picture') %>
              <div class="media-body d-flex justify-content-between">
                <div>
                  <p class="m-0 media-heading">Publié le <time><%= l(blog.updated_at.to_time, format: "%-d %B %Y") %></time></p>
                  <a href="<%= posts_user_path(blog.user) %>">Par <%= @blog.user.first_name %> <%= @blog.user.last_name %></a>
                </div>
                <span class="social">
                  <p class="m-0 text-muted small">
                    Partagez cet article
                  </p>
                  <div class="social-links">
                    <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-twitter"></i></a>
                    <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-facebook-official"></i></a>
                    <a class="social-icon" data-platform="mail" href="mailto:test@example.com"><i class="fa fa-envelope"></i></a>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</article>
