<% post.comments.each do |comment| %>
  <div class="card-body px-0 py-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex px-0 pb-0">
        <div class="mr-auto d-flex align-items-center">
          <% if comment.user.avatar.attached? %>
            <%= link_to image_tag(comment.user.avatar, class: "rounded-circle border border-primary mr-1", width: '40', height: '40', alt: 'profile picture'), posts_user_path(comment.user) %>
          <% else %>
            <%= link_to image_tag('fallback/default', class: "rounded-circle border border-primary mr-1", width: '40', height: '40', alt: 'profile picture'), posts_user_path(post.user) %>
          <% end %>
          <div class="mr-auto d-flex flex-column">
            <h6 class="mb-0"><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", posts_user_path(comment.user) %></h6>
            <small>
              <time>Il y a <%= time_ago_in_words(comment.created_at) %></time>
            </small>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex px-0 pt-0 border-top-0 border-bottom">
        <p class="mt-1 mb-1 text-break"><%= comment.description %></p>
      </li>
    </ul>
  </div>
  <div class="card-header py-1 border-0 justify-content-around h-5">
    <ul class="nav nav-pills nav-pills-round nav-pills-warning mb-1">
      <li class="nav-item d-flex flex-row align-items-center mr-3">
        <%= link_to fa_icon_tag("arrow-up"), like_post_comment_path(comment.post, comment), remote: :true, id: "like_comment_#{comment.post.id}", class: 'nav-link mr-1' %> • <%= comment.get_likes.size %>
      </li>
      <li class="nav-item d-flex flex-row align-items-center mr-3">
        <%= link_to fa_icon_tag("arrow-down"), dislike_post_comment_path(comment.post, comment), remote: :true, id: "dislike_comment_#{comment.post.id}", class: 'nav-link mr-1' %> • <%= comment.get_dislikes.size %>
      </li>
      <% if current_user == comment.user %>
        <li class="nav-item">
          <%= link_to fa_icon_tag("pencil"), edit_post_comment_path(comment.post, comment), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to fa_icon_tag("trash"), [comment.post, comment], data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
