<div class="card-body pt-0" id="comment_<%= comment.id %>">
  <div class="card-header p-0 border-0">
    <ul class="list-group list-group-flush w-100">
      <li class="list-group-item px-0 pb-0">
        <div class="d-flex justify-content-between">
          <div class="mr-auto d-flex flex-row align-items-center">
            <%# User avatar %>
            <%= link_to image_tag(user_avatar(comment.user), class: 'rounded-circle mr-1', style: 'object-fit: cover;', width: '40', height: '40'), posts_user_path(comment.user) %>
            <div class="mr-auto d-flex flex-column">
              <%# User full name %>
              <h6 class="mb-0"><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", posts_user_path(comment.user) %></h6>
              <div class="d-flex align-items-center flex-row ">
                <%= render partial: 'badges/badges_user-info', locals: { user: comment.user } %>
              </div>
              <small>
                <%# Time published %>
                <time>Il y a <%= time_ago_in_words(comment.created_at) %></time>
              </small>
            </div>
          </div>
          <%# Edit & Delete comment %>
          <% if owner?(comment) %>
            <div class="dropdown" id="dropdown-menu_comment_<%= comment.id %>">
              <button class="nav-link btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= theme_icon_tag('more') %></button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Modifier', edit_post_comment_path(comment.post, comment), class: 'dropdown-item', remote: true %>
                <%= link_to 'Supprimer', [comment.post, comment], data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, remote: true, class: 'dropdown-item', id: "delete_comment_#{comment.id}" %>
              </div>
            </div>
          <% end %>
        </div>
      </li>
      <li class="list-group-item d-flex px-0 pt-0 border-0">
        <%# Comment description %>
        <p class="mt-1 mb-1 text-break w-100">
          <span id="comment_description_<%= comment.id %>">
            <%= comment.description %>
          </span>
        </p>
      </li>
      <li class="list-group-item d-flex px-0 pt-0 border-0">
        <% if comment.file.attached? %>
          <a href="<%= rails_blob_path(comment.file, disposition: "attachment") %>" class='file w-100'>
            <div class="card card-mini card-mini-split inspectable">
              <div class="card-body">
                <div class="media align-items-center">
                  <div class="d-flex align-self-center">
                    <%# Image %>
                    <% if comment.file.content_type.include? 'image' %>
                      <i class="ti-image"style="font-size: 25px;"></i>
                      <%# Text %>
                    <% elsif comment.file.content_type.include? 'text' %>
                      <i class="ti-text"style="font-size: 25px;"></i>
                      <%# Audio %>
                    <% elsif comment.file.content_type.include? 'audio' %>
                      <i class="ti-music-alt"style="font-size: 25px;"></i>
                      <%# Video %>
                    <% elsif comment.file.content_type.include? 'video' %>
                      <i class="ti-video-clapper"style="font-size: 25px;"></i>
                      <%# Document %>
                    <% else %>
                      <i class="ti-file"style="font-size: 25px;"></i>
                    <% end %>
                  </div>
                  <div class="media-body text-left" style="padding: 1rem 1.25rem;">
                    <h6 class="m-0"><%= comment.file.filename %></h6>
                    <%# Image %>
                    <% if comment.file.content_type.include? 'image' %>
                      <span class="text-muted">Image</span>
                      <%# Text %>
                    <% elsif comment.file.content_type.include? 'text' %>
                      <span class="text-muted">Text</span>
                      <%# Audio %>
                    <% elsif comment.file.content_type.include? 'audio' %>
                      <span class="text-muted">Audio</span>
                      <%# Video %>
                    <% elsif comment.file.content_type.include? 'video' %>
                      <span class="text-muted">Video</span>
                      <%# Document %>
                    <% else %>
                      <span class="text-muted">Document</span>
                    <% end %>
                  </div>
                  <div class="px-4 text-muted">
                    <span class="text-muted"><i class="ti-download" style="font-size: 20px; color: #6C757D;"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        <% else %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="btn-group mb-2 d-flex" style="min-height: 0rem;">
    <%# Votes %>
    <%= render partial: 'comments/vote', locals: { comment: comment } %>
  </div>
</div>
