<%# Badges %>
<% if user.badges.count > 0 %>
  <%# Points %>
  <small class="font-weight-bold mr-2 text-primary" style="font-size: 12px;" data-placement="bottom" data-toggle="tooltip" data-original-title="Score de réputation">
    <%= user.points %>
  </small>
  <% if (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'gold' }).count > 0 %>
    <span class="mr-1" style="color: #F2CA50;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges d'or">
      •
    </span>
    <small class="text-muted mr-2" style="font-size: 12px;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges d'or">
      <%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'gold' }).count %>
    </small>
  <% end %>
  <% if (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count > 0 %>
    <span class="mr-1" style="color: #BFBFBF;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges d'argent">
      •
    </span>
    <small class="text-muted mr-2" style="font-size: 12px;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges d'argent">
      <%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %>
    </small>
  <% end %>
  <% if (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'bronze' }).count > 0 %>
    <span class="mr-1" style="color: #A66641;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges de bronze">
      •
    </span>
    <small class="text-muted mr-2" style="font-size: 12px;" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %> badges de bronze">
      <%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === 'bronze' }).count %>
    </small>
  <% end %>
<% end %>
