<%# Badges navbar dropdown menu %>
<% if user_signed_in? %>
  <li class="nav-item dropdown user-nav">
    <a class="nav-link justify-content-end" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= theme_icon_tag "cup" %>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li class="dropdown-item text-center">
        <div class="card">
          <div class="card-header justify-content-center text-center text-primary">
            <p>Vous avez actuellement <strong><%= current_user.points %></strong> points.</p>
          </div>
          <% if current_user.badges.present? %>
            <% current_user.badges.last(1).each do |badge| %>
              <%# Badge card %>
              <div class="card card-mini card-mini-solid-icon shadow-none">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body text-center">
                      <h5>Dernier badge gagné</h5>
                      <div style="margin-bottom: 0.9375rem;">
                        <%= render partial: 'badges/badge', locals: { badge: badge } %>
                      </div>
                      <h6 class="text-center text-muted">Description</h6>
                      <p class="text-center text-wrap"><%= badge.description %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card card-mini card-mini-solid-icon shadow-none">
              <div class="card-body">
                <p class="text-wrap">Vous n'avez pas encore gagné de badges.</p>
              </div>
            </div>
          <% end %>
          <div class="card-footer d-flex justify-content-between">
            <div>
              <%= link_to "Voir mes badges", user_badge_path(current_user), class: "btn btn-secondary text-uppercase" %>
            </div>
            <div>
              <%= link_to "Tous les badges", badges_path, class: "btn btn-primary text-white text-uppercase" %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
<% end %>
