<% @title = "Badges" %>
<div class="container">
  <div class="row">
    <%# Search form %>
    <% @search_path = posts_path %>
    <% @search_placeholder = "Recherchez un fichier et trouvez du contenu à ce sujet." %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Badges', badges_path %>
        </li>
      </ol>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      <% if @badges.present? %>
        <%# Badges %>
        <%# Card start %>
        <div class="card">
          <%# Card header start %>
          <div class="card-header">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a href="#index" data-toggle="tab" role="tab" class="nav-link <%= "active" unless params.has_key?(:tab) %>">Tous</a>
              </li>
              <li class="nav-item">
                <a href="#gold" data-toggle="tab" role="tab" class="nav-link <%= "active" if params[:tab] == "gold" %>">Or</a>
              </li>
              <li class="nav-item">
                <a href="#silver" data-toggle="tab" role="tab" class="nav-link <%= "active" if params[:tab] == "silver" %>">Argent</a>
              </li>
              <li class="nav-item">
                <a href="#bronze" data-toggle="tab" role="tab" class="nav-link <%= "active" if params[:tab] == "bronze" %>">Bronze</a>
              </li>
            </ul>
          </div>
          <%# Card header end %>
          <div class="card-body">
            <div class="table-responsive">
              <%# Index badges start %>
              <div class="tab-content" id="tabs">
                <div class="tab-pane <%= "active" unless params.has_key?(:tab) %>" id="index">
                  <table class="table table-sm-responsive">
                    <thead>
                      <tr>
                        <th>Badge</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @badges.each do |badge| %>
                        <tr>
                          <td>
                            <%= render partial: 'badge', locals: { badge: badge } %>
                          </td>
                          <td>
                            <%= badge.description %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <%# Index badges end %>
                <%# Gold badges %>
                <%= render partial: 'badges/badges-table', locals: { tab: "gold" } %>
                <%# Silver badges %>
                <%= render partial: 'badges/badges-table', locals: { tab: "silver" } %>
                <%# Bronze badges %>
                <%= render partial: 'badges/badges-table', locals: { tab: "bronze" } %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <p>Il n'y a pas de badges.</p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="sidebar" class="col-lg-3 col-md-12 col-sm-12 order-md-2 order-sm-1">
      <%# Badges index side panel %>
      <%= render partial: 'badges/side_panel-index' %>
    </div>
  </div>
</div>
