<% @title = @group.name %>
<%# content_for :description do
  <p>Edit this template in <code>app/views/Groups/show.html.erb</code>.</p>
end %>
<div class="container">
  <div class="row">
    <%# Search form %>
    <%= render partial: 'search/form', locals: { search_path: group_path(@group), placeholder: "Recherchez un cours dans cette université et trouvez du contenu à ce sujet." } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Universités', groups_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to "#{@group.name}", group_path(@group) %>
        </li>
      </ol>
      <%# Statistics %>
      <div class="d-flex flex-row justify-content-around">
        <div class="card card-mini mx-1">
          <div class="card-body">
            <h6 class="m-0 pt-2 text-muted text-wrap">Nombre de documents</h6>
            <h4 class="m-0 counter"><%= @group.posts.count %></h4>
          </div>
        </div>
        <% Category.all.sample(5).each do |category| %>
          <div class="card card-mini mx-1">
            <div class="card-body">
              <h6 class="m-0 pt-2 text-muted text-wrap"><%= category.name %></h6>
              <h4 class="m-0 counter"><%= category.posts.where(group: @group).count %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# List of posts %>
    <div class="card">
      <%# Card header %>
      <div class="card-header d-flex align-items-center">
        <% if @search.present? %>
          <h6 class="card-title">Vous avez recherché : <i><%= @search %></i></h6>
        <% else %>
          <h6 class="card-title"><%= @group.name %></h6>
        <% end %>
        <div class="ml-auto btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-default active">Populaires</button>
          <button type="button" class="btn btn-default">Matières</button>
          <button type="button" class="btn btn-default">Années</button>
        </div>
      </div>
      <table class="table table-hover table-striped">
        <tbody>
          <%# Render posts %>
          <% @posts.each do |post| %>
            <%= render partial: 'posts/post-list_item', locals: { post: post } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%# Pagination %>
  <%= render partial: 'kaminari/pagination', locals: { object: @posts, ajax: 'local' } %>
</div>
