<div class="card card-image card-image-avatar mb-3">
  <div class="h-100 d-flex flex-column">
    <div class="card-header pb-0">
      <%= link_to image_tag(user_avatar(@user), class: 'rounded-circle shadow image-offset', style: 'object-fit: cover;', width: '128', height: '128', alt: 'profile picture'), posts_user_path(@user) %>
      <h4 class="card-title text-primary text-center mt-4 my-2"><%= link_to "#{@user.first_name} #{@user.last_name}", posts_user_path(@user) %></h4>
    </div>
    <div class="card-body">
      <h6 class="text-center text-muted">Description</h6>
      <% if @user.description? %>
        <p class="text-center"><%= @user.description %></p>
      <% else %>
        <p class="text-center"><%= @user.first_name %> n'a pas encore de description</p>
      <% end %>
      <h6 class="text-center text-muted">Publications</h6>
      <p class="text-center"><%= @user.posts.count %></p>
      <h6 class="text-center text-muted">Votes positifs</h6>
      <p class="text-center"><%= @user.posts.sum(&:likes_sum) %></p>
      <h6 class="text-center text-muted">Votes négatifs</h6>
      <p class="text-center"><%= @user.posts.sum(&:dislikes_sum) %></p>
      <h6 class="text-center text-muted">Badges</h6>
      <p class="text-center"><%= @user.badges.count %></p>
    </div>
  </div>
</div>
