<div class="card card-image card-image-avatar mb-3">
  <div class="h-100 d-flex flex-column">
    <div class="card-header pb-0">
      <%= link_to image_tag(user_avatar(@user), class: 'rounded-circle shadow image-offset', style: 'object-fit: cover;', width: '128', height: '128', alt: 'profile picture'), posts_user_path(@user) %>
      <h4 class="card-title text-primary text-center mt-4 my-2"><%= link_to "#{@user.full_name}", posts_user_path(@user) %></h4>
    </div>
    <div class="card-body text-center">
      <%# User badges %>
      <h6 class="text-muted"><%= link_to 'Badges', user_badge_path(@user) %></h6>
      <p>
        <div class="d-flex flex-row justify-content-center justify-content-around">
          <%= render partial: 'badges/badges_user-info', locals: { user: @user, block_tag: :p } %>
        </div>
      </p>
      <%# User reputation %>
      <h6 class="text-muted mt-3">Réputation</h6>
      <p data-placement="bottom" data-toggle="tooltip" data-original-title="Score de réputation">
        <%= @user.points %>
      </p>
      <h6 class="text-muted mt-3">Université</h6>
      <p><%= link_to @user.group.name, group_path(@user.group) %></p>
      <h6 class="text-muted mt-3">Description</h6>
      <% if @user.description? %>
        <p><%= @user.description %></p>
      <% else %>
        <% if current_user == @user %>
          <p >Vous n'avez pas encore de description</p>
        <% else %>
          <p ><%= @user.first_name %> n'a pas encore de description</p>
        <% end %>
      <% end %>
      <h6 class="text-muted mt-3">Publications</h6>
      <p><%= @user.posts.count %></p>
      <%# Number of likes received by user %>
      <h6 class="text-muted mt-3">Votes positifs</h6>
      <p><%= @user.posts.sum(&:likes_sum) %></p>
      <%# Number of dislikes received by user %>
      <h6 class="text-muted mt-3">Votes négatifs</h6>
      <p><%= @user.posts.sum(&:dislikes_sum) %></p>
    </div>
  </div>
</div>
