<div class="animate-fade-in-500">
  <section class="bg-light px-3 pt-5 pb-3 mb-3 d-flex flex-column">
    <div class="container-fluid">
      <div class="row equal-cols">
        <div class="col-12 col-md-3">
          <% if current_user.sign_in_count === 1 %>
            <h4 class="leading-normal m-0 p-0">Bienvenue sur Edukado, <%= current_user.first_name %>.</h4>
            <p class="leading-normal small">La plateforme qui décloisonne le savoir produit quotidiennement par les étudiants.</p>
          <% else %>
            <h4 class="leading-normal m-0 p-0">Bon retour parmi nous, <%= current_user.first_name %>.</h4>
            <p class="leading-normal small">Today is going to be a great day!</p>
          <% end %>
          <ul class="m-0 p-0 mb-5 small">
            <li>You have 5 new followers.</li>
            <li>132 people have liked your posts.</li>
            <li>Network maintenance is happening at 5pm today.</li>
          </ul>
          <div class="btn-group" role="group">
            <a href="<%= group_path(current_user.group) %>" data-toggle="tooltip" data-placement="top" class="btn btn-default" data-original-title="Consulter l'espace universitaire">
              <i class="ti-book"></i>
            </a>
            <a href="<%= posts_path %>" data-toggle="tooltip" data-placement="top" class="btn btn-default" data-original-title="Voir les dernières publications">
              <i class="ti-files"></i>
            </a>
            <a href="<%= rankings_path %>" data-toggle="tooltip" data-placement="top" class="btn btn-default" data-original-title="Classement général">
              <i class="ti-cup"></i>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%# Search form %>
          <%= render partial: 'search/form', locals: { search_path: posts_path, placeholder: "Recherchez un fichier et trouvez du contenu à ce sujet." } %>
          <div class="d-flex flex-row justify-content-between">
            <%# Badges %>
            <% %w[gold silver bronze].each do |difficulty| %>
              <div class="card mx-2">
                <div class="card-body pt-4 text-center">
                  <h3 class="m-0 mt-2"><%= (current_user.badges.select { |badge| badge.custom_fields[:difficulty] === "#{difficulty}" }).count %></h3>
                  <p class="text-uppercase">Badges <%= t "merit.difficulty.#{difficulty}" %></p>
                </div>
              </div>
            <% end %>
          </div>
          <%# Publish & Invite buttons %>
          <div class="d-flex flex-row justify-content-between">
            <%= link_to 'Contribuer à la communauté', new_post_path, class: 'btn btn-lg btn-primary w-100 my-2 mx-2' %>
            <%= link_to 'Inviter un utilisateur', new_user_invitation_path, class: 'btn btn-lg btn-default w-100 my-2 mx-2' %>
          </div>
        </div>
        <%# Reputation %>
        <div class="col-12 col-md-3 d-flex flex-column justify-items-between">
          <div class="card card-mini card-mini-solid-icon">
            <div class="card-body">
              <div class="media">
                <div class="media-body text-left">
                  <h6 class="m-0 text-muted">Réputation</h6>
                  <h4 class="m-0 counter"><%= current_user.points %></h4>
                </div>
                <div class="d-flex align-self-center text-primary ml-3">
                  <span>
                    <i class="display-4 ti-cup"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <%# Total views count %>
          <div class="card card-mini card-mini-solid-icon">
            <div class="card-body">
              <div class="media">
                <div class="media-body text-left">
                  <h6 class="m-0 text-muted">Vues</h6>
                  <h4 class="m-0 counter">
                    <%= total_impressions = Rails.cache.fetch("user:#{current_user.id}:total_impressions") do
                      Post.where(user: current_user).reduce(0) do |sum, post|
                        sum + post.impressionist_count(filter: :all)
                      end
                    end %>
                  </h4>
                </div>
                <div class="d-flex align-self-center text-primary ml-3">
                  <span>
                    <i class="display-4 ti-eye"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <%# Ranking %>
          <div class="card card-mini card-mini-solid-icon">
            <div class="card-body">
              <div class="media">
                <div class="media-body text-left">
                  <h6 class="m-0 text-muted">Votre classement</h6>
                  <h4 class="m-0 counter">
                  </h4>
                </div>
                <div class="d-flex align-self-center text-primary ml-3">
                  <span>
                    <i class="display-4 ti-medall"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# Ranking %>
  <div class="container">
    <div class="row">
      <div class="col-12">
      <div class="card card-tabbed">
        <div class="card-header d-flex align-items-center">
          <%# Title %>
          <h6 class="mt-2">Classement</h6>
          <ul class="nav rounded-nav-tabs">
            <li class="nav-item">
              <a href="#today" data-toggle="tab" class="nav-link active">Cette semaine</a>
            </li>
            <li class="nav-item">
              <a href="#week" data-toggle="tab" class="nav-link">Ce mois-ci</a>
            </li>
            <li class="nav-item">
              <a href="#month" data-toggle="tab" class="nav-link">Tous les temps</a>
            </li>
          </ul>
        </div>
        <div class="table-responsive">
          <div class="tab-content" id="tabs">
            <div class="tab-pane active" id="today">
              <%# Daily point leaderboard %>
              <%= render partial: 'posts/point_leaderboard', locals: { since_date: 1.week.ago, limit: 100 } %>
            </div>
            <div class="tab-pane" id="week">
              <%# Weekly point leaderboard %>
              <%= render partial: 'posts/point_leaderboard', locals: { since_date: 1.month.ago, limit: 100 } %>
            </div>
            <div class="tab-pane" id="month">
              <%# Monthly point leaderboard %>
              <%= render partial: 'posts/point_leaderboard', locals: { since_date: 20.year.ago, limit: 100 } %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
