<% if current_user == @user %>
  <% @title = "Vos publications" %>
<% else %>
  <% @title = "Publications de #{@user.first_name} #{@user.last_name}" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12">
      <% if @posts.present? %>
        <%# Posts %>
        <div id="posts">
          <%= render partial: 'posts', locals: { posts: @posts } %>
        </div>
        <% if @user.posts.size > 5 %>
          <%# Pagination %>
          <div class="card">
            <div class="card-body d-flex justify-content-center" id="paginate">
              <%= paginate @posts, remote: true %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <% if current_user == @user %>
              <p>Vous n'avez pas encore publié.</p>
            <% else %>
              <p><%= @user.first_name %> n'a pas encore publié.</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="sidebar" class="col-lg-3 col-md-12 col-sm-12 order-md-2 order-sm-1">
      <%# User side panel %>
      <%= render partial: 'side_panel' %>
      <%# Badge side panel %>
      <%= render partial: 'badges/side_panel' %>
    </div>
  </div>
</div>
