<% @title = 'Modifier mon profil' %>
<div class="profile-header jumbotron d-flex align-items-center justify-content-center flex-column p-0">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <div class="fileinput fileinput-avatar fileinput-new d-flex flex-column align-items-center" data-provides="fileinput" style="height: 180px; width: 200px">
      <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
        <%= image_tag(user_avatar(current_user), class: 'rounded-circle shadow', style: 'object-fit: cover;', width: '128', height: '128') %>
      </div>
    </div>
  </div>
  <%# User full name %>
  <h2 class="m-0 mb-2"><%= current_user.first_name %> <%= current_user.last_name %></h2>
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
      <a href="#profile" data-toggle="tab" class="nav-link">Profil</a>
    </li>
    <li class="nav-item">
      <a href="#badges" data-toggle="tab" class="nav-link">Badges</a>
    </li>
    <!-- 
    <li class="nav-item">
      <a href="#support" data-toggle="tab" class="nav-link">Support</#a>
    </li>
    -->
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 col-md-9 mr-auto ml-auto">
      <div class="tab-content pt-2 pb-2" id="tabs">
        <div class="tab-pane" id="profile">
          <%# Edit user %>
          <%= render partial: 'users/_user_account/edit' %>
        </div>
        <div class="tab-pane" id="badges">
          <%# User badges %>
          <%= render partial: 'users/_user_account/badges' %>
        </div>
        <!-- 
        <div class="tab-pane" id="support">
          <div class="card">
            <div class="card-body">
              <%# Support %>
              <%= render partial: 'users/_user_account/support' %>
                <#/div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
<script>
  function activateTab(tab){
      $('.nav-tabs a[href="#' + tab + '"]').tab('show');
  };
  
  activateTab('profile');
</script>
