<div class="card">
  <div class="card-body">
    <h5 class="mb-4">PROFIL</h5>
    <div class="container">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate: true, multipart: true, class: "form-horizontal" } do |f| %>
        <%= f.error_notification %>
        <%= f.form_group :avatar, class: "row" do |f| %>
          <%= f.label :avatar, 'Photo de profil', class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-max-file-size="5" data-dropzone-max-files="1">
              <%= f.file_field :avatar, direct_upload: true, required: true, data: { target: "dropzone.input" } %>
              <div class="dropzone-msg dz-message needsclick text-gray-600">
                <h5 class="dropzone-msg-title">Déposer pour télécharger ou cliquer pour parcourir</h5>
                <span class="dropzone-msg-desc text-sm">2 Mo maximum. Types de fichier autorisés : jpg & png.</span>
              </div>
            </div>
          </div>
        <% end %>
        <%= f.form_group :first_name, class: "row" do |f| %>
          <%= f.label "Prénom", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
            <%= f.error_messages %>
          </div>
        <% end %>
        <%= f.form_group :last_name, class: "row" do |f| %>
          <%= f.label "Nom", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
            <%= f.error_messages %>
          </div>
        <% end %>
        <%= f.form_group :description, class: "row" do |f| %>
          <%= f.label "Description", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.text_area :description, autofocus: true, class: "form-control" %>
            <%= f.error_messages %>
          </div>
        <% end %>
        <%= f.form_group :email, class: "row" do |f| %>
          <%= f.label :email, class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
            <%= f.error_messages %>
          </div>
        <% end %>
        <%= f.form_group :password, class: "row" do |f| %>
          <%= f.label "Mot de passe", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.password_field :password, class: "form-control" %>
            <%= f.error_messages %>
            <div class="help-block">
              Leave it blank if you don"t want to change it.
            </div>
          </div>
        <% end %>
        <%= f.form_group :password_confirmation, class: "row" do |f| %>
          <%= f.label "Confirmation de mot de passe", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, class: "form-control" %>
            <%= f.error_messages %>
          </div>
        <% end %>
        <%= f.form_group :current_password, class: "row" do |f| %>
          <%= f.label "Mot de passe actuel", class: "col-sm-4 col-form-label" %>
          <div class="col-md-8">
            <%= f.password_field :current_password, class: "form-control" %>
            <%= f.error_messages %>
            <div class="help-block">
              We need your current password to confirm your changes.
            </div>
          </div>
        <% end %>
        <div class="row d-flex align-items-center mt-5">
          <%= link_to "Supprimer mon compte", registration_path(resource_name), confirm: "Are you sure?", method: :delete, class: "mr-auto text-danger" %>
          <div>
            <%= link_to "Retour", :back, class: "btn btn-outline-default" %>
            <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
