<%= content_for :js_libs, "modernizr parallax" %>
<% @title = 'Accueil' %>
<%= render partial: 'statics/content_blocks/headers/10' %>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/1' %>
</section>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/2' %>
</section>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/3' %>
</section>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/5' %>
</section>
<section class="pt-5 pb-5 bg-dark">
  <%= render partial: 'statics/content_blocks/general/23' %>
</section>
<section class="pt-5 pb-5 bg-dark">
  <%= render partial: 'statics/content_blocks/general/18' %>
</section>
