<%= content_for :js_libs, "modernizr parallax" %>
<% @title = 'Accueil' %>
<%= render partial: 'statics/content_blocks/headers/header' %>
<section class="py-5">
  <%= render partial: 'statics/content_blocks/general/1' %>
</section>
<section class="bg-white py-5">
  <%= render partial: 'statics/content_blocks/general/2' %>
</section>
<section class="py-5">
  <%= render partial: 'statics/content_blocks/general/3' %>
</section>
<section>
  <%= render partial: 'statics/content_blocks/general/4' %>
</section>
