<%= content_for :js_libs, "modernizr parallax" %>
<% @title = 'Accueil' %>
<main class="landing-5 bg-primary" style="min-height: 100vh;">
  <%= render partial: 'statics/content_blocks/headers/10' %>
</main>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/5' %>
</section>
<section class="pt-5 pb-5 bg-dark">
  <%= render partial: 'statics/content_blocks/general/23' %>
</section>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/1' %>
</section>
<section class="pt-5 pb-5">
  <%= render partial: 'statics/content_blocks/general/2' %>
</section>
<section class="pt-5 pb-5 bg-dark">
  <%= render partial: 'statics/content_blocks/general/18' %>
</section>
<section class="pt-5 pb-5 bg-dark">
  <%= render partial: 'statics/content_blocks/general/34' %>
</section>
