<% @title = "Quelle matière recherchez-vous ?" %>
<%# content_for :description do
  <p>Rechercher une université et trouver du contenu pour celle-ci.</p>
end %>
<%# Search form %>
<% @search_path = subjects_path %>
<% @search_placeholder = "Rechercher une matière et trouver du contenu pour celle-ci." %>
<div class='container'>
  <div class='row'>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item <%= 'active' if current_page?(groups_path) %>">
          <%= link_to 'Matières', subjects_path %>
        </li>
      </ol>
      <%# Groups %>
      <div class="card">
        <%# Card header %>
        <%= render partial: 'posts/card-header', locals: { title: 'Trouvez la matière que vous recherchez.' } %>
      </div>
      <table class="table table-hover">
        <tbody>
          <%# Render subjects %>
          <% @subjects.each do |subject| %>
            <%= render partial: 'tables/tr-object', locals: { attribute: subject.name, icon: 'book', path: subject_path(subject) } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%# Pagination %>
<%= render partial: 'kaminari/pagination', locals: { object: @subjects, ajax: 'local', model: Subject } %>
</div>
<%# Clickable table row element %>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
