<% @title = "Niveau d'étude" %>
<div class="container">
  <div class="row">
    <%# Search form %>
    <%= render partial: 'search/form', locals: { search_path: levels_path, placeholder: "Recherchez le niveau d'études qui vous correspond." } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item <%= 'active' if current_page?(levels_path) %>">
          <%= link_to 'Années', levels_path %>
        </li>
      </ol>
      <%# Card %>
      <div class="card">
        <%# Card header %>
        <div class="card-header d-flex align-items-center">
          <% if @search.present? %>
            <h6 class="card-title">Vous avez recherché : <i><%= @search %></i></h6>
          <% else %>
            <h6 class="card-title">Trouvez le niveau d'études qui vous correspond.</i></h6>
        <% end %>
      </div>
      <table class="table table-hover">
        <tbody>
          <%# Render tags %>
          <% Level.order(level: :asc).each do |level| %>
            <%= render partial: 'table/tr-object', locals: { attribute: "#{level.level}A", icon: 'medall', path: level_path(level) } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%# Pagination %>
  <%= render partial: 'kaminari/pagination', locals: { object: @levels, ajax: 'local' } %>
</div>
<%# Clickable table row element %>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
