<%# File %>
<li class="list-group-item d-flex px-0 pt-0 border-0">
  <% if user_signed_in? %>
    <% if current_user.download_count > 3 && current_user.posts.count < 1 %>
      <%# Case user has downloaded many files but has not contributed %>
      <%= render partial: 'file-card', locals: {
          post: post,
          path: new_post_path,
          icon: 'gift',
          description: "Veuillez contribuer sur la plateforme #{1 - current_user.posts.count} fois afin d'accéder à ce fichier."
      } %>
    <% elsif current_user.download_count > 5 && current_user.posts.count < 3 %>
      <%# Case user has downloaded many files but has not contributed %>
      <%= render partial: 'file-card', locals: {
          post: post,
          path: new_post_path,
          icon: 'gift',
          description: "Veuillez contribuer sur la plateforme #{3 - current_user.posts.count} fois afin d'accéder à ce fichier."
      } %>
    <% else %>
      <% if post.file.attached? %>
        <%= link_to(new_download_path(post_id: post.id), html_options = {class: 'file w-100'}) do %>
          <div class="card card-mini card-mini-split inspectable">
            <div class="card-body">
              <div class="media align-items-center">
                <div class="d-flex align-self-center">
                  <%# Image %>
                  <% if post.file.content_type.include? 'image' %>
                    <i class="ti-image"style="font-size: 25px;"></i>
                    <%# Text %>
                  <% elsif post.file.content_type.include? 'text' %>
                    <i class="ti-text"style="font-size: 25px;"></i>
                    <%# Audio %>
                  <% elsif post.file.content_type.include? 'audio' %>
                    <i class="ti-music-alt"style="font-size: 25px;"></i>
                    <%# Video %>
                  <% elsif post.file.content_type.include? 'video' %>
                    <i class="ti-video-clapper"style="font-size: 25px;"></i>
                    <%# Document %>
                  <% else %>
                    <i class="ti-file"style="font-size: 25px;"></i>
                  <% end %>
                </div>
                <div class="media-body text-left" style="padding: 1rem 1.25rem;">
                  <h6 class="m-0"><%= post.file.filename %></h6>
                  <span class="text-muted">
                    <%# Image %>
                    <% if post.file.content_type.include? 'image' %>
                      Image
                      <%# Text %>
                    <% elsif post.file.content_type.include? 'text' %>
                      Text
                      <%# Audio %>
                    <% elsif post.file.content_type.include? 'audio' %>
                      Audio
                      <%# Video %>
                    <% elsif post.file.content_type.include? 'video' %>
                      Video
                      <%# Document %>
                    <% else %>
                      Document
                    <% end %>
                  </span>
                </div>
                <div class="px-4 text-muted">
                  <span class="text-muted">
                    <i class="ti-download" style="font-size: 20px; color: #6C757D;"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%# Case there is no file attached %>
        <%= render partial: 'file-card', locals: {
            post: post,
            path: posts_path,
            icon: 'alert',
            description: "Il n'y a pas de fichier attaché à cette publication."
        } %>
      <% end %>
    <% end %>
  <% else %>
    <%# Case user is not signed in %>
    <%= render partial: 'file-card', locals: {
        post: post,
        path: new_user_session_path,
        icon: 'lock',
        description: "Connectez-vous ou inscrivez-vous afin d'accéder à ce fichier."
    } %>
  <% end %>
</li>
