<div class="card">
  <div class="card-header d-flex justify-content-center">
    <h5 class="mb-0">Ajouter une publication</h5>
  </div>
  <div class="card-body">
    <%= form_with model: @post, url: posts_path(@post), class: 'form-horizontal' do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <div class="form-group">
          <%= f.text_field :tag_list, label: 'Tags', placeholder: "tag1, tag2, tag3...", required: true %>
        </div>
        <%= f.text_field :title, label: 'Titre', placeholder: "Titre", required: true %>
        <%= f.text_area :description, autocomplete: "description", placeholder: "Description", required: true %>
        <script type="application/javascript">
          $('input[type="file"]').change(function(e){
              var fileName = e.target.files[0].name;
              $('.custom-file-label').html(fileName);
          });
        </script>
        <%= f.file_field :file, input_html: { class: "custom-file-input" }, label: "Fichier", label_html: { class: "custom-file-label", for: "inputFile" }, direct_upload: true, required: true %>
      </div>
      <div class="form-actions">
        <%= f.submit 'Publier', class: "btn btn-primary ml-auto" %>
      </div>
    <% end %>
  </div>
</div>
