<% if Merit::Score.top_scored(since_date: since_date).count === 0 %>
  <div class="card-body text-center">
    Personne n'est encore classé.
  </div>
<% else %>
  <table class="table table-hover table-striped tab-pane">
    <thead>
      <tr>
        <th>
          Contributeur
        </th>
        <th>
          Points
        </th>
      </tr>
    </thead>
    <tbody>
      <%= Merit::Score.top_scored(since_date: since_date, limit: 25).map do |top_score_hash| %>
        <tr>
          <%= content_tag :td do %>
            <%# User avatar %>
            <%= link_to image_tag(user_avatar(User.find(top_score_hash["user_id"])), class: 'avatar rounded-circle', style: 'object-fit: cover;', width: '34', height: '34', alt: 'profile picture'), posts_user_path(User.find(top_score_hash["user_id"])) %>
            <%# User full name %>
            <%= link_to "#{User.find(top_score_hash["user_id"]).full_name}", posts_user_path(User.find(top_score_hash["user_id"])) %>
          <% end %>
          <%# User points %>
          <%= content_tag(:td, top_score_hash["sum_points"].to_s, class: 'font-weight-bold') %>
        </tr>
      <% end.to_sentence(words_connector: '', two_words_connector: '', last_word_connector: '').tr('</tr>', '') %>
    </tbody>
  </table>
<% end %>
