<div class="card" id="post_<%= post.id %>">
  <div class="pb-2">
    <div class="card-header pb-0 border-bottom-0" style="min-height: 0rem;">
      <div class="dropdown" style="visibility: hidden;">
        <%= button_tag theme_icon_tag('more'), class: 'nav-link btn btn-icon' %>
      </div>
      <%# Title %>
      <h4><%= link_to post.title, post_path(post) %></h4>
      <%# Dropdown menu %>
      <div class="dropdown">
        <button class="nav-link btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= theme_icon_tag('more') %></button>
        <div class="dropdown-menu dropdown-menu-right">
          <%# Show post %>
          <%= link_to 'Voir la publication', post_path(post), class: 'dropdown-item' %>
          <% if owner?(post) %>
            <%# Edit %>
            <%= link_to 'Modifier', edit_post_path(post), class: 'dropdown-item' %>
            <%# Delete %>
            <%= link_to 'Supprimer', post, data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, remote: true, class: 'dropdown-item', id: "delete_post_#{post.id}" %>
          <% end %>
          <%# Share %>
          <h6 class="dropdown-header text-muted">Partager</h6>
          <%# Facebook %>
          <%= link_to "Facebook", "https://www.facebook.com/sharer/sharer.php?u=http://www.edukado.co#{post_path(post)}", class: 'dropdown-item', data: { network: 'facebook' }, target: '_blank' %>
          <%# Twitter %>
          <%= link_to "Twitter", "https://www.facebook.com/sharer/sharer.php?u=http://www.edukado.co/posts/#{post_path(post)}", class: 'dropdown-item', data: { network: 'facebook' } %>
          <%# Email %>
          <%= link_to "Email", "https://www.facebook.com/sharer/sharer.php?u=https://www.edukado.co/posts/#{post_path(post)}", class: 'dropdown-item', data: { network: 'facebook' } %>
        </div>
      </div>
    </div>
    <div class="text-center border-bottom">
      <%# Tags %>
      <% post.tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>" class="badge badge-light" title="<%= tag.title %>">#<%= tag.title %></a>
      <% end %>
      <div class="my-3">
      <%# File %>
      <% if user_signed_in? %>
        <% if current_user.points < 50 %>
          <p>Vous n'avez pas assez de points pour accéder à ce contenu.</p>
        <% else %>
          <% if post.file.attached? %>
            <a href="<%= rails_blob_path(post.file, disposition: "attachment") %>" class="btn btn-circle btn-icon btn-border-2x btn-outline-dark mr-2" style="padding-top: 0.5rem; height: 2.375rem; width: 2.375rem;"><i class="ti-download"></i></a><%= post.file.filename %>
          <% else %>
            <p>Il n'y a aucun fichier attaché</p>
          <% end %>
        <% end %>
      <% else %>
        Connectez ou inscrivez-vous pour accéder à ce fichier
      <% end %>
      </div>
    </div>
  </div>
  <div class="card-body pb-0 pt-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex pb-0 px-0">
        <div class="mr-auto d-flex align-items-center">
          <%# User avatar %>
          <%= link_to image_tag(user_avatar(post.user), class: 'rounded-circle mr-1', style: 'object-fit: cover;', width: '64', height: '64', alt: 'profile picture'), posts_user_path(post.user) %>
          <div class="mr-auto d-flex flex-column">
            <%# User full name %>
            <h6 class="mb-0"><%= link_to "#{post.user.first_name} #{post.user.last_name}", posts_user_path(post.user) %></h6>
            <div class="d-flex align-items-center flex-row ">
              <%# Badges %>
              <% if post.user.badges.count > 0 %>
                <%# Points %>
                <small class="font-weight-bold mr-1 text-primary" style="font-size: 12px;">
                    <%= post.user.points %>
                </small>
                <% if (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'gold' }).count > 0 %>
                  <span class="mr-1" style="color: #F2CA50;">
                    •
                  </span>
                  <small class="text-muted mr-2" style="font-size: 12px;">
                    <%= (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'gold' }).count %>
                  </small>
                <% end %>
                <% if (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count > 0 %>
                  <span class="mr-1" style="color: #BFBFBF;">
                    •
                  </span>
                  <small class="text-muted mr-2" style="font-size: 12px;">
                    <%= (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'silver' }).count %>
                  </small>
                <% end %>
                <% if (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'bronze' }).count > 0 %>
                  <span class="mr-1" style="color: #A66641;">
                    •
                  </span>
                  <small class="text-muted mr-2" style="font-size: 12px;">
                    <%= (post.user.badges.select { |badge| badge.custom_fields[:difficulty] === 'bronze' }).count %>
                  </small>
                <% end %>
              <% end %>
            </div>
            <%# Date published %>
            <small>
              <time>Publié il y a <%= time_ago_in_words(post.created_at) %></time>
            </small>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex pt-0 px-0 border-top-0 border-bottom">
        <%# Description %>
        <p class="mt-1 mb-1 text-break pb-3"><%= post.description %></p>
      </li>
    </ul>
  </div>
  <div class="btn-group d-flex" style="min-height: 0rem;">
    <%= render partial: 'posts/vote', locals: { post: post } %>
  </div>
  <% unless current_page?(posts_path) || current_page?(posts_user_path(post.user)) || current_page?(tag_path) %>
    <div class="card-footer d-flex flex-row" style="background-color: #fff">
      <div class="d-flex flex-row w-100">
        <% if user_signed_in? %>
          <%# Current user avatar %>
          <%= link_to image_tag(user_avatar(current_user), class: 'rounded-circle mr-2', style: 'object-fit: cover;', width: '40', height: '40'), posts_user_path(current_user) %>
        <% else %>
          <%= image_tag(image_url('fallback/default.png'),  class: 'rounded-circle mr-2', style: 'object-fit: cover;', width: '40', height: '40') %>
        <% end %>
          <%# Comment form %>
          <div class="w-100" id="new_comment_<%= post.id %>">
            <%= render partial: 'comments/form', locals: { post: post } %>
          </div>
      </div>
    </div>
  <% end %>
  <%# Comments %>
  <% if post.comments.present? %>
    <div id="comments_<%= post.id %>">
    <% if current_page?(post_path(post)) %>
      <%= render post.comments.order(created_at: :desc) %>
    <% end %>
    </div>
  <% end %>
</div>
