<div class="card" id="post_<%= post.id %>">
  <div class="pb-2">
    <div class="card-header pb-0 border-bottom-0" style="min-height: 0rem;">
      <div class="dropdown" style="visibility: hidden;">
        <%= button_tag theme_icon_tag('more'), class: 'nav-link btn btn-icon' %>
      </div>
      <%# Title %>
      <h4><%= link_to post.title, post_path(post) %></h4>
      <%# Dropdown menu %>
      <div class="dropdown">
        <button class="nav-link btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= theme_icon_tag('more') %></button>
        <div class="dropdown-menu dropdown-menu-right">
          <%# Show post %>
          <%= link_to 'Voir la publication', post_path(post), class: 'dropdown-item' %>
          <% if owner?(post) %>
            <%# Edit %>
            <%= link_to 'Modifier', edit_post_path(post), class: 'dropdown-item' %>
            <%# Delete %>
            <%= link_to 'Supprimer', post, data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, remote: true, class: 'dropdown-item', id: "delete_post_#{post.id}" %>
          <% end %>
          <%# Share %>
          <h6 class="dropdown-header text-muted">Partager</h6>
          <%= content_tag(:div, class: 'd-flex justify-content-between', style: 'padding: 0 1.5rem;') do %>
            <%# Facebook %>
            <%= link_to("https://www.facebook.com/sharer/sharer.php?u=http://www.edukado.co#{post_path(post)}", data: { network: 'facebook' }, target: '_blank') do %>
              <span style="font-size: 20px"><%= fa_icon_tag('facebook-square') %></span>
            <% end %>
            <%# Twitter %>
            <%= link_to("https://www.facebook.com/sharer/sharer.php?u=http://www.edukado.co#{post_path(post)}", data: { network: 'facebook' }, target: '_blank') do %>
               <span style="font-size: 20px"><%= fa_icon_tag('twitter-square') %></span>
            <% end %>
            <%# Email %>
            <%= link_to("https://www.facebook.com/sharer/sharer.php?u=http://www.edukado.co#{post_path(post)}", data: { network: 'facebook' }, target: '_blank') do %>
              <span style="font-size: 20px"><%= fa_icon_tag('envelope') %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-center pb-4">
      <%# Tags %>
      <% post.tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>" class="badge badge-light" title="<%= tag.title %>">#<%= tag.title %></a>
      <% end %>
    </div>
    <div class="text-center border-bottom pb-4">
      <%# Group %>
      <h6><%= link_to post.group.name, group_path(post.group) %></h6>
    </div>
  </div>
  <div class="card-body pb-0 pt-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex pb-0 px-0">
        <div class="mr-auto d-flex align-items-center">
          <%# User avatar %>
          <%= link_to image_tag(user_avatar(post.user), class: 'rounded-circle mr-1', style: 'object-fit: cover;', width: '64', height: '64', alt: 'profile picture'), posts_user_path(post.user) %>
          <div class="mr-auto d-flex flex-column">
            <%# User full name %>
            <h6 class="mb-0"><%= link_to "#{post.user.full_name}", posts_user_path(post.user) %></h6>
            <div class="d-flex align-items-center flex-row ">
              <%= render partial: 'badges/badges_user-info', locals: { user: post.user } %>
            </div>
            <%# Date published %>
            <small>
              <time>
                Publié il y a <%= time_ago_in_words(post.created_at) %> | 
                <% if post.impressionist_count(filter: :ip_address) == 0 %>
                  0 vue
                <% else %>
                  <%= pluralize(post.impressionist_count(filter: :ip_address), 'vue', plural: 'vues') %>
                <% end %>
              </time>
            </small>
          </div>
        </div>
      </li>
      <%# Description %>
      <li class="list-group-item d-flex pt-0 px-0 border-top-0 border-bottom">
        <p class="mt-1 mb-1 text-break"><%= post.description %></p>
      </li>
      <%# File %>
      <%= render partial: 'active_storage/file', locals: { object: post } %>
    </ul>
  </div>
  <div class="btn-group d-flex" style="min-height: 0rem;">
    <%= render partial: 'posts/vote', locals: { post: post } %>
  </div>
  <%# Comment section %>
  <% unless current_page?(posts_path) || current_page?(posts_user_path(post.user)) || current_page?(tag_path) %>
      <div class="card-footer d-flex flex-row w-100" style="background-color: #fff">
        <% if user_signed_in? %>
          <%# Current user avatar %>
          <%= link_to image_tag(user_avatar(current_user), class: 'rounded-circle mr-2 d-flex align-items-center', style: 'object-fit: cover; max-height: ', width: '40', height: '40'), posts_user_path(current_user) %>
        <% else %>
          <%= image_tag(image_url('fallback/default.png'),  class: 'rounded-circle mr-2', style: 'object-fit: cover;', width: '40', height: '40') %>
        <% end %>
          <%# Comment form %>
          <div class="w-100" id="new_comment_<%= post.id %>">
            <%= render partial: 'comments/form', locals: { post: post } %>
          </div>
      </div>
  <% end %>
  <%# Comments %>
  <% if post.comments.present? %>
    <div id="comments_<%= post.id %>">
    <% if current_page?(post_path(post)) %>
      <%= render post.comments.order(created_at: :desc) %>
    <% end %>
    </div>
  <% end %>
</div>
