<% @title = "Dernières publications" %>
<div class="container">
  <div class="row">
    <%# Search form %>
    <%= render partial: 'search/form', locals: { search_path: posts_path, placeholder: "Recherchez un fichier et trouvez du contenu à ce sujet." } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item <%= 'active' if current_page?(groups_path) %>">
          <%= link_to 'Publications', posts_path %>
        </li>
      </ol>
      <%# Card %>
      <div class="card">
        <%# Card header %>
        <%= render partial: 'card-header', locals: { title: 'Trouvez votre fichier' } %>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <%# Render posts %>
            <% @posts.each do |post| %>
              <%= render partial: 'tables/tr-post', locals: { post: post } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%# Pagination %>
<%= render partial: 'kaminari/pagination', locals: { object: @posts, ajax: 'local', model: Post } %>
</div>
