<% @title = "Dernières publications" %>
<div class="container">
  <div class="row">
  <%# Search form %>
    <%= render partial: 'search/form', locals: { search_path: posts_path, placeholder: "Recherchez un fichier et trouvez du contenu à ce sujet." } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item <%= 'active' if current_page?(groups_path) %>">
          <%= link_to 'Publications', posts_path %>
        </li>
      </ol>
      <%# Card %>
      <div class="card">
        <%# Card header %>
        <div class="card-header d-flex align-items-center">
          <% if @search.present? %>
            <h6 class="card-title">Vous avez recherché : <i><%= @search %></i></h6>
          <% else %>
            <h6 class="card-title">Trouver votre fichier</i></h6>
        <% end %>
        <div class="ml-auto btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Populaires', posts_path, class: 'btn btn-default active' %>
          <%= link_to 'Matières', subjects_path, class: 'btn btn-default' %>
          <%= link_to 'Années', levels_path, class: 'btn btn-default' %>
        </div>
      </div>
      <table class="table table-hover inspectable">
        <tbody>
          <%# Render posts %>
          <% if @search.present? %>
            <% @posts.each do |post| %>
              <%= render partial: 'posts/post-list_item', locals: { post: post } %>
            <% end %>
          <% else %>
            <% @posts.each do |post| %>
              <%= render partial: 'posts/post-list_item', locals: { post: post } %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if @posts.count >= 20 %>
  <%# Pagination %>
  <%= render partial: 'kaminari/pagination', locals: { object: @posts, ajax: 'local' } %>
<% end %>
</div>
