<% @title = "#{@post.title}" %>
<% content_for :meta_title, "#{@post.title}" %>
<% content_for :meta_description, @post.description %>
<% content_for :javascript do %>
  <%= javascript_pack_tag "comment.js" %>
<% end %>
<div class="container">
  <div class="row">
      <%# Search form %>
    <%= render partial: 'search/form', locals: { search_path: posts_path, placeholder: "Ce n'est pas ce que vous recherchez ? Lancez une nouvelle recherche !" } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to @post.group.name, group_path(@post.group) %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to @post.category.name, category_path(@post.category) %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to @post.subject.name, subject_path(@post.subject) %>
        </li>
      </ol>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      <%# Post %>
      <%= render @post %>
    </div>
    <div id="sidebar" class="col-lg-3 col-md-12 col-sm-12 order-md-2 order-sm-1">
      <%# User side panel %>
      <%= render 'users/side_panel', locals: {user: @user} %>
      <%# Badges side panel %>
      <%= render partial: 'badges/side_panel-user' %>
    </div>
  </div>
</div>
