<% @title = "Voici les différentes catégories de fichiers" %>
<%# content_for :description do
  <p>Rechercher une université et trouver du contenu pour celle-ci.</p>
end %>
<div class="container">
  <div class="row">
    <%= render partial: 'search/form', locals: { search_path: categories_path, placeholder: "Rechercher une catégorie." } %>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Catégories', categories_path %>
        </li>
      </ol>
      <%# Groups %>
      <div class="card">
        <div class="card-header">
          <% if @search.present? %>
            <h6 class="card-title">Vous avez recherché : <i><%= @search %></i></h6>
          <% else %>
            <h6 class="card-title">Toutes les catégories</h6>
          <% end %>
        </div>
        <table class="table table-hover inspectable">
          <tbody>
            <% if @search.present? %>
              <% @categories.each do |category| %>
                <%= render partial: 'categories/category', locals: { category: category } %>
              <% end %>
            <% else %>
              <%= render @categories %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# Pagination %>
  <% if @search.present? %>
    <% if @categories.count >= 20 %>
        <%= render partial: 'kaminari/pagination', locals: { object: @categories, ajax: 'local' } %>
    <% end %>
  <% else %>
    <% if Category.count >= 20 %>
      <%= render partial: 'kaminari/pagination', locals: { object: @categories, ajax: 'local' } %>
    <% end %>
  <% end %>
</div>
<%# Clickable table row element %>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
