<% @title = @category.name %>
<%# content_for :description do
  <p>Edit this template in <code>app/views/Categories/show.html.erb</code>.</p>
end %>
<div class="container">
  <div class="row">
    <div class="card">
      <%= form_tag(category_path(@category), method: 'get', class: 'input-group input-group-lg', role: 'search') do %>
        <%# Search field %>
        <%= text_field_tag :search, nil, placeholder: "Recherchez un fichier de cette catégorie et trouvez du contenu à ce sujet.", class: "form-control border-0", name: "search", autocomplete: :off%>
        <%# Submit button %>
        <%= submit_tag '', style: "display: none;" %>
      <% end %>
    </div>
    <div class="col-12">
      <%# Breadcrumb %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Catégories', categories_path %>
        </li>
        <li class="breadcrumb-item <%= 'active' if current_page?(category_path(@category)) %>">
          <%= @category.name %>
        </li>
      </ol>
      <%# Card %>
      <div class="card">
        <%# Card header %>
        <div class="card-header">
          <% if @search.present? %>
            <h6 class="card-title">Vous avez recherché : <i><%= @search %></i></h6>
          <% else %>
            <h6 class="card-title">Publications les plus populaires</h6>
          <% end %>
        </div>
        <table class="table table-hover inspectable">
          <tbody>
            <%# Render category's posts %>
            <% if @search.present? %>
              <% @posts.each do |post| %>
                <%= render partial: 'posts/post-list_item', locals: { post: post } %>
              <% end %>
            <% else %>
              <% @category.posts.each do |post| %>
                <%= render partial: 'posts/post-list_item', locals: { post: post } %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%# Clickable table row element %>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
