<%= render :layout => "layouts/base" do %>
  <nav class="navbar navbar-expand-lg">
    <%# Navbar icon %>
    <% if signed_in? %>
      <a href="<%= dashboard_user_path(current_user) %>" class="navbar-brand"><%= image_tag image_path('logos/edukado_white.png'), width: 140, class: 'mr-2'%></a>
    <% else %>
      <a href="<%= root_path %>" class="navbar-brand"><%= image_tag image_path('logos/edukado_white.png'), width: 140, class: 'mr-2'%></a>
    <% end %>
    <%# Navbar toggler %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%# Navbar links %>
      <ul class="navbar-nav mr-auto">
        <% if superadmin? || supervisor?(current_user) %>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_users_path %>">Espace admin</a>
          </li>
        <% end %>
        <% if signed_in? %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?(dashboard_user_path(current_user)) %>" href="<%= dashboard_user_path(current_user) %>">Dashboard</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(group_path(current_user.group)) %>">
            <a class="nav-link" href="<%= group_path(current_user.group) %>">Mon université</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(posts_path) %>">
            <a class="nav-link" href="<%= posts_path %>">Publications</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(new_post_path) %>">
            <a class="nav-link" href="<%= new_post_path %>">Publier</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(new_user_invitation_path) %>">
            <a class="nav-link" href="<%= new_user_invitation_path %>">Inviter</a>
          </li>
        <% else %>
          <li class="nav-item <%= 'active' if current_page?(posts_path) %>">
            <a class="nav-link" href="<%= posts_path %>">Publications</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(blogs_path) %>">
            <a class="nav-link" href="<%= blogs_path %>">Blog</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?("mailto:contact@edukado.co") %>">
            <a class="nav-link" href="mailto:contact@edukado.co">Contact</a>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'layouts/navbar' %>
    </div>
  </nav>
  <%= yield %>
<% end %>
