<ul class="nav navbar-nav">
  <%= render 'searches/search_dropdown' %>
  <%= render 'badges/badge_dropdown' %>
  <li class="nav-item">
    <a class="nav-link" href='/statics/about'>
      <%= theme_icon_tag "help-alt" %>
    </a>
  </li>
  <%= render 'notifications/notification_dropdown' %>
  <%= render 'users/user_dropdown' %>
</ul>
