<ul class="navbar-nav">
  <% if user_signed_in? %>
    <% unless current_page?(dashboard_user_path(current_user)) %>
      <%# Search form %>
      <%= form_tag(posts_path, method: 'get', class: 'form-inline', role: 'search') do %>
        <%# Search field %>
        <%= text_field_tag :search, nil, placeholder: "Rechercher", class: "form-control border-0 w-100", name: "search", autocomplete: :off, style: 'background-color: #fff; margin-right: 0.7rem; min-width: 300px' %>
        <%# Submit button %>
        <%= submit_tag '', style: "display: none;" %>
      <% end %>
    <% end %>
  <% end %>
  <%# Badge dropdown %>
  <%= render 'badges/badge_dropdown' %>
  <%# Help dropdown%>
  <li class="nav-item">
    <%= link_to '/about', class: 'nav-link' do %>
      <%= theme_icon_tag "help-alt" %>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <% unless current_user.admin? %>
      <%# Notification dropdown %>
      <%= render 'notifications/notification_dropdown' %>
    <% end %>
  <% end %>
  <%# User dropdown %>
  <%= render 'users/user_dropdown' %>
</ul>
