<div class="navbar-header">
  <div class="profile">
    <%= image_tag(user_avatar(current_user), class: 'rounded-circle profile-image', style: 'object-fit: cover;', width: '60', height: '60', alt: 'profile picture') %>
    <div class="profile-body">
      <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
      <div class="user-links">
        <a class="btn btn-link" href="<%= edit_user_registration_path %>" data-placement="bottom" data-toggle="tooltip" data-original-title="Profil">
          <%= theme_icon_tag "user" %>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages">
          <%= theme_icon_tag "email" %>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings">
          <%= theme_icon_tag "settings" %>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout">
          <%= theme_icon_tag "power-off" %>
        </a>
      </div>
    </div>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
