<%= render :layout => "layouts/base" do %>
  <nav class="navbar navbar-expand-lg">
    <a href="<%= posts_path %>" class="navbar-brand"><%= image_tag image_path('logos/edukado_white.png'), width: 140, class: 'mr-2'%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <a class="nav-link" href="<%= root_path %>">Accueil</a>
        </li>
        <li class="nav-item <%= 'active' if current_page?(blogs_path) %>">
          <a class="nav-link" href="<%= blogs_path %>">Blog</a>
        </li>
        <li class="nav-item <%= 'active' if current_page?("mailto:contact@edukado.co") %>">
          <a class="nav-link" href="mailto:contact@edukado.co">Contact</a>
        </li>
      </ul>
      <%= render partial: 'layouts/navbar' %>
    </div>
  </nav>
  <%= yield %>
<% end %>
